<section>
  <!-- main section -->
  <div
    class="bg-[url('/images/home-main.avif')] bg-cover bg-no-repeat bg-center h-60 md:h-80 lg:h-96 w-full md:w-10/12 mx-auto flex flex-col justify-center items-center px-4 md:px-8"
  >
    <h2
      class="text-2xl md:text-4xl lg:text-5xl text-white font-extrabold mb-3 md:mb-4 drop-shadow-lg text-center"
    >
      Discover the Latest Trends
    </h2>
    <p
      class="text-sm md:text-base lg:text-lg text-white mb-6 md:mb-8 max-w-xs md:max-w-2xl drop-shadow-md text-center"
    >
      Explore our new collection of stylish and comfortable clothing for every
      occasion.
    </p>
    <p-button
      severity="contrast"
      styleClass="px-3 md:px-4 py-2 rounded-2xl font-semibold text-sm md:text-base text-white bg-black hover:bg-white hover:text-black transition-colors duration-300 ease-in-out shadow-md hover:shadow-xl transform hover:scale-105"
      routerLink="/products"
      >Shop Now</p-button
    >
  </div>
</section>
